

body{
	
	background-image: url("../IMG/fondo.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 	}

.cabecera{
	
	background-color: rgba(245,245,245,0.85);
	height: 280px;
	border: solid black 2px;
	border-radius: 10px;
	
	
}

.cabecera_izquierda{
	
	float: left;
	width: 11%;
	
	
}

.cabecera_izquierda img{
	
	margin-top: 10px;
	margin-left: 10px;
}

.cabecera_centro{
	
	float: left;
    width: 88%;
    height: 60%;
	margin-top: 40px;
	border-radius: 5px;
	
}


.cabecera_centro p{
	
	text-align: center;
	font-size: 57px;
	font-family: sans-serif;
	align-items: center;
	color: #176e87;
	

}


.contenido{
	
	height: 1600px;
	margin-right: 50px;
}

.menu {
	
	width: 13%;
	height: 100%;
	float: left;
	
	
}

.texto{
	
	background-color: white; 
	float: right;
	width: 83%;
	height: 1500px;
	margin-top: 50px;
	border-radius: 10px;
	
}

.texto, p{
	
	padding-left: 15px;
	font-family: sans-serif;
	font-size: large;
}

.texto, h3{
		padding-left: 15px;
		font-family: sans-serif;
		
}

.menu_vertical {
    width: 150px;
    margin-top: 50px;
    margin-left: 5%;
    border-radius: 10px;
    
}

.menu_vertical a {
    background-color: #39b5e2;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: solid black 1px;
    font-family: sans-serif;
    
}

.menu_vertical a:hover {
    background-color: #ff8040;
}

.menu_vertical a.active {
    background-color: #176e87;
    color: white;
}





























