

body{
	
	background-color: #CEE3F6;
}

.cabecera{
	
	background-color: #176e87;
	height: 420px;
	border: solid black 2px;
	
}

.cabecera_izquierda{
	
	float: left;
	width: 15%;
	background-color: grey;
	
	
}

.cabecera_izquierda img{
	margin-top: 10px;
	margin-left: 10px;
}

.cabecera_derecha{
	
	float: right;
	background-color: blue;
    width: 85%;
}

